venv/
env/
.venv/
.python-venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.tox/
.vscode/
.idea/
.DS_Store
*.sublime-project
*.sublime-workspace
.env
.flaskenv
/dist/
/build/
*.egg-info/
uvicorn.log
*.log
*.log.*